.CodeMirror
{
    border: 1px solid #e5e5e5
}
.CodeMirror-lines {
    padding: 10px;
}

.au-btn-icon i {
    vertical-align: baseline;
    margin-right: 5px;
    margin-left: 5px;
}

@media (max-width: 991px)
{
	.au-breadcrumb
	{
	    height: 50px;
	}
}

.btn-success
{
    background: #63c76a;
    border-color: #63c76a;
}

.btn-success:hover {
    background: #59bd60;
    border-color: #59bd60;
}

.btn {
    line-height: 45px;
    padding: 0 15px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    /*
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    */
}